<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>City Facts</title>
</head>
<body>   

    {% include 'NavBar.html' %}


    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Interesting City Facts</h1>
            <p class="lead">Discover some fascinating facts about our city.</p>
        </div>

        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="Fact Image 1">
                    <div class="card-body">
                        <h5 class="card-title">Fact 1</h5>
                        <p class="card-text">Did you know that our city has over 200 parks and green spaces, providing ample opportunities for outdoor recreation?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="Fact Image 2">
                    <div class="card-body">
                        <h5 class="card-title">Fact 2</h5>
                        <p class="card-text">Our city is home to one of the oldest libraries in the country, with a collection of over 1 million books.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="Fact Image 3">
                    <div class="card-body">
                        <h5 class="card-title">Fact 3</h5>
                        <p class="card-text">The city hosts an annual music festival that attracts over 50,000 visitors from around the world.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <img src="https://via.placeholder.com/600x300" class="card-img-top" alt="Fact Image 4">
                    <div class="card-body">
                        <h5 class="card-title">Fact 4</h5>
                        <p class="card-text">Our city has a rich history, with landmarks dating back to the 18th century, reflecting its cultural heritage.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <img src="https://via.placeholder.com/600x300" class="card-img-top" alt="Fact Image 5">
                    <div class="card-body">
                        <h5 class="card-title">Fact 5</h5>
                        <p class="card-text">The city boasts a diverse culinary scene, with restaurants offering cuisine from over 30 different countries.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card h-100">
                    <img src="https://via.placeholder.com/1200x400" class="card-img-top" alt="Fact Image 6">
                    <div class="card-body">
                        <h5 class="card-title">Fact 6</h5>
                        <p class="card-text">With a population of over 1 million, our city is a vibrant and bustling metropolis with a thriving economy.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>




