<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Contacts</title>
</head>
<body>   

    {% include 'NavBar.html' %}

    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">City Contacts</h1>
            <p class="lead">Important contact information for municipal services.</p>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Emergency Services</h5>
                        <p class="card-text"><strong>Phone:</strong> 911</p>
                        <p class="card-text"><strong>Description:</strong> For immediate assistance in case of fire, medical emergencies, or criminal activities.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">City Hall</h5>
                        <p class="card-text"><strong>Phone:</strong> (123) 456-7890</p>
                        <p class="card-text"><strong>Hours:</strong> Monday - Friday, 9:00 AM - 5:00 PM</p>
                        <p class="card-text"><strong>Description:</strong> For inquiries related to city administration and public services.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Public Works Department</h5>
                        <p class="card-text"><strong>Phone:</strong> (123) 456-7891</p>
                        <p class="card-text"><strong>Hours:</strong> Monday - Friday, 8:00 AM - 4:00 PM</p>
                        <p class="card-text"><strong>Description:</strong> For issues related to city infrastructure, including roads, bridges, and public buildings.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Parks and Recreation</h5>
                        <p class="card-text"><strong>Phone:</strong> (123) 456-7892</p>
                        <p class="card-text"><strong>Hours:</strong> Monday - Friday, 9:00 AM - 6:00 PM</p>
                        <p class="card-text"><strong>Description:</strong> For information about city parks, recreational programs, and facility rentals.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Public Library</h5>
                        <p class="card-text"><strong>Phone:</strong> (123) 456-7893</p>
                        <p class="card-text"><strong>Hours:</strong> Monday - Saturday, 10:00 AM - 6:00 PM</p>
                        <p class="card-text"><strong>Description:</strong> For inquiries related to library services, programs, and resources.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Waste Management</h5>
                        <p class="card-text"><strong>Phone:</strong> (123) 456-7894</p>
                        <p class="card-text"><strong>Hours:</strong> Monday - Friday, 7:00 AM - 3:00 PM</p>
                        <p class="card-text"><strong>Description:</strong> For issues related to garbage collection, recycling programs, and waste disposal.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>




