<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>News</title>
</head>
<body>   

    {% include 'NavBar.html' %}




    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">City News</h1>
            <p class="lead">Stay updated with the latest news and events happening in our city.</p>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="https://via.placeholder.com/600x300" class="card-img-top" alt="News Image 1">
                    <div class="card-body">
                        <h5 class="card-title">News Headline 1</h5>
                        <p class="card-text">Brief description of the news article goes here. It provides an overview of the latest events and updates.</p>
                        <a href="#" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="https://via.placeholder.com/600x300" class="card-img-top" alt="News Image 2">
                    <div class="card-body">
                        <h5 class="card-title">News Headline 2</h5>
                        <p class="card-text">Brief description of the news article goes here. It provides an overview of the latest events and updates.</p>
                        <a href="#" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="https://via.placeholder.com/600x300" class="card-img-top" alt="News Image 3">
                    <div class="card-body">
                        <h5 class="card-title">News Headline 3</h5>
                        <p class="card-text">Brief description of the news article goes here. It provides an overview of the latest events and updates.</p>
                        <a href="#" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="https://via.placeholder.com/600x300" class="card-img-top" alt="News Image 4">
                    <div class="card-body">
                        <h5 class="card-title">News Headline 4</h5>
                        <p class="card-text">Brief description of the news article goes here. It provides an overview of the latest events and updates.</p>
                        <a href="#" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>




